<!-- NOTE: Please don not delete any of the comments below -->
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>TicTacToe</title>
    <meta name="description" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
</head>

<body ng-app="ticTacToeGame">

    <div class="wrapper">
        <div ng-switch="game.state" ng-controller="GameCtrl as game">
            <div ng-switch-when="start" class="panel end-panel">
                <h1>TIC TAC TOE</h1>
                <span class="line-block"><img src="styles/images/logo.png"/></span>
                <span class="line-block"><h4>Введите размер игрового поля</h4></span>
                <span class="line-block"><input type="number" ng-model="game.settings.size"/></span>
                <span class="line-block">
                    <button class="nice-button fixed-200" ng-click="game.startNewGame()">Start New Game</button>
                </span>
                <span class="line-block">
                    <button ng-disabled="!game.oldSession" class="nice-button fixed-200" ng-click="game.resumeGame()">Resume Game</button>
                </span>
                <div ng-if="game.invalid.settings">
                    <span class="line-block error-label" ng-show="game.invalid.settings.is_empty">
                        <h4>Вы не задали размер поля</h4>
                    </span>
                    <span class="line-block error-label" ng-show="game.invalid.settings.incorrect_size">
                        <h4>Вы не задали неверный размер. Должен быть больше {{game.winPoints}}</h4>
                    </span>
                </div>
            </div>
            <div ng-switch-when="game" class="panel end-panel">
                <button class="nice-button" ng-click="game.goToScreen('start')">Restart Game</button>
                <div id="game-field">
                    <div class="cell" ng-click="game.setState(cell, true)" ng-repeat="cell in game.cells">
                        <i ng-class="{'tic-icon': cell.state === 'tic', 'tac-icon': cell.state === 'tac', 'toe-icon': cell.state === 'toe'}"></i>
                    </div>
                </div>
            </div>
            <div ng-switch-when="end" class="panel end-panel">
                <h1>Game Over</h1>
                <span class="line-block">
                    <h2>{{game.winMessage}}</h2>
                </span>
                <span class="line-block">
                    <button class="nice-button" ng-click="game.goToScreen('start')">Начать заново</button>
                </span>
            </div>
        </div>
    </body>
</body>
</html>